/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_futurico,
    .iradio_futurico {
        background-image: url(futurico@2x.png);
        -webkit-background-size: 144px 19px;
        background-size: 144px 19px;
    }
}
